<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Alteridad y Exclusiones</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="built/css/styles.css">
  </head>
  <body>
    <div id="status"></div>
    <div id="header"></div>
    <div id="content"></div>
    <div id="footer"></div>

    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/underscore/underscore.js"></script>
    <script src="components/backbone/backbone.js"></script>
    <script src="components/marionette/lib/backbone.marionette.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="components/chosen/public/chosen.jquery.min.js"></script>
    <script src="components/d3/d3.min.js"></script>
    <script src="components/d3-cloud/d3.layout.cloud.js"></script>
    <script src="built/js/app.min.js"></script>
    <script type="text/javascript">
      App.start();
    </script>
  </body>
</html>
