<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Alteridades y Exclusiones</title>
    <link rel="stylesheet" href="/built/css/styles.css">
    <!-- @if node_env='development' -->
    <script src="http://localhost:35729/livereload.js"></script>
    <!-- @endif -->
  </head>
  <body>
    <div class="wrap">
      <div id="header"></div>
      <div id="main"></div>
    </div>
    <div id="footer"></div>
  </body>
</html>
