<div class="container">
  <div class="pull-right text-right" style="margin-top: -50px;">
    <iframe src="http://ghbtns.com/github-btn.html?user=markotom&repo=alteridadyexclusiones&type=fork&count=true" height="30" width="80" frameborder="0" scrolling="0" style="width:80px; height: 30px;" allowTransparency="true"></iframe>
  </div>
  <p class="text-muted">
  	<% var d = new Date() %>
    <strong><%- d.getFullYear() %> © <a href="http://filos.unam.mx">Facultad de Filosofía y Letras, UNAM.</a></strong> <br>
    Herramienta digital realizada con el apoyo del Programa UNAM-DGAPA-PAPIME PE400214. <br>
    "Formación en humanidades. La importancia del debate crítico-interdisciplinario desde la alteridad".
  </p>
</div>
