<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="sr-only">Navegación</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Alteridad y Exclusiones</a>
    </div>
    <div id="navbar-collapse-1" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/">Inicio</a></li>
        <li><a href="#/proyecto">Proyecto</a></li>
        <li><a href="http://ae.filos.unam.mx">Blog</a></li>
        <li><a href="">Bibliografía</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Iniciar sesión <b class="caret"></b></a>
          <div style="padding: 15px; width: 300px" class="dropdown-menu">
            <form>
              <div class="form-group">
                <input id="email" type="email" name="email" placeholder="Correo electrónico" class="form-control"/>
              </div>
              <div class="form-group">
                <input id="password" type="password" name="password" placeholder="Contraseña" class="form-control"/>
              </div>
              <button type="submit" class="btn btn-block btn-default">Iniciar sesión</button>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar-collapse-2" class="navbar-toggle"><span class="sr-only">Navegación</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div id="navbar-collapse-2" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/lema">Lema</a></li>
        <li><a href="/lema">Emblema</a></li>
        <li><a href="/lema">Pregunta</a></li>
        <li><a href="/lema">Ensayos</a></li>
      </ul>
    </div>
  </div>
</nav>
