<div style="width: 300px; margin-top: 5px; display: none">
  <select data-placeholder="Buscar" class="chosen-select">
    <option value=""></option>

    <% if (models.contributions) { %>
    <optgroup label="Contribuciones al debate">
    <% _.each(models.contributions, function (content) { %>
      <option><%- content.title %></option>
    <% }); %>
    </optgroup>
    <% } %>

    <% if (models.lemmas) { %>
    <optgroup label="Lemas">
    <% _.each(models.lemmas, function (content) { %>
      <option><%- content.title %></option>
    <% }); %>
    </optgroup>
    <% } %>

    <% if (models.emblems) { %>
    <optgroup label="Emblemas">
    <% _.each(models.emblems, function (content) { %>
      <option><%- content.title %></option>
    <% }); %>
    </optgroup>
    <% } %>

    <% if (models.studies) { %>
    <optgroup label="Estudios de vocabulario">
    <% _.each(models.studies, function (content) { %>
      <option><%- content.title %></option>
    <% }); %>
    </optgroup>
    <% } %>

    <% if (models.questions) { %>
    <optgroup label="Preguntas">
    <% _.each(models.questions, function (content) { %>
      <option><%- content.title %></option>
    <% }); %>
    </optgroup>
    <% } %>

    <% if (models.essays) { %>
    <optgroup label="Ensayos">
    <% _.each(models.essays, function (content) { %>
      <option><%- content.title %></option>
    <% }); %>
    </optgroup>
    <% } %>
  </select>
</div>
