<div class="container">

  <div id="cloud" class="big-cloud"></div>
  <br>
  <h1 class="h3 text-muted">Alteridad y Exclusiones</h1>
  <div class="row">
    <div class="col-md-6">
      <p class="text-justify">Nuestro libro expone un breve número de voces cada una de las cuales condensa,
      a su manera, los problemas actuales en la defensa de la dignidad de la alteridad
      y la diferencia dentro de la resistencia a las formas de exclusión, tal y como
      ellos aparecen en el debate no especializado sino social. No contiene por tanto
      conceptos que persigan una definición, como lo exigiría la corrección académica,
      sino nociones que ocasionan efectos discursivos y sociopolíticos diversos.
      En él se intenta dar cuenta de estos efectos de sentido y consecuencias prácticas
      para enriquecer el propio debate donde estos términos circulan. Este libro es,
      entonces, un vocabulario para la discusión pública; a ella se debe y a ella le
      debe todo lo que es y espera ser.</p>
      <p>
        <a href="/#/pages/325" class="btn btn-default">Proyecto</a>
      </p>
    </div>

    <div class="col-md-6">
      <div class="well">
        <div class="person">
          <div class="name">Ana María Martínez de la Escalera</div>
          <small class="description text-muted">Responsable del proyecto</small>
        </div>
        <br>
        <div class="person">
          <div class="name">Erika Lindig Cisneros</div>
          <small class="description text-muted">Responsable del proyecto</small>
        </div>
        <br>
        <div class="person">
          <div class="name">Marco Antonio Godínez Bustos</div>
          <small class="description text-muted">Planeación digital/Diseño y desarrollo web</small>
        </div>
        <br>
        <div class="person">
          <div class="name">José Francisco Barrón Tovar</div>
          <small class="description text-muted">Planeación digital</small>
        </div>
      </div>
    </div>
  </div>

</div>
