<div class="container">

  <div class="text-left" style="margin: 40px 0 20px 0;">
    <img src="http://ae.filos.unam.mx/files/2013/07/2.jpg" alt="Alteridad y Exclusiones" style="width: 50%">
  </div>

  <p>
    Se trata de ofrecer al debate contemporáneo sostenido entre la academia en humanidades y ciencias sociales y las organizaciones sociales sobre derechos humanos un vocabulario común y crítico para pensar la contribución de la sociedad a la creación de nuevas experiencias de lo humano más allá de la dominación. Experiencias que se encuentran relatadas en testimonios de resistencia y lucha política por el reconocimiento de su potencial de cambio como en los discursos que se ofrecen para dar unidad a los sentidos heterogéneos que en esa experiencia emergen. La crítica se funda en procedimientos de lectura tomados de la práctica de la Historia de conceptos y de la teoría crítica a través de su desarrollo contemporáneo y su polémica con las tesis de Butler.
  </p>

</div>
