<div class="container">

  <div id="cloud" class="big-cloud"></div>

  <div class="row">
    <div class="col-md-6">
      <h1 class="h3 text-muted">Alteridad y Exclusiones</h1>
      <p class="text-justify">Nuestro libro expone un breve número de voces cada una de las cuales condensa,
      a su manera, los problemas actuales en la defensa de la dignidad de la alteridad
      y la diferencia dentro de la resistencia a las formas de exclusión, tal y como
      ellos aparecen en el debate no especializado sino social. No contiene por tanto
      conceptos que persigan una definición, como lo exigiría la corrección académica,
      sino nociones que ocasionan efectos discursivos y sociopolíticos diversos.
      En él se intenta dar cuenta de estos efectos de sentido y consecuencias prácticas
      para enriquecer el propio debate donde estos términos circulan. Este libro es,
      entonces, un vocabulario para la discusión pública; a ella se debe y a ella le
      debe todo lo que es y espera ser.</p>
      <a href="/#/pages/325" class="btn btn-default">Proyecto</a>
    </div>

    <div class="col-md-6 sr-only">
      <img src="http://ae.filos.unam.mx/files/2013/07/2.jpg" alt="Alteridad y Exclusiones" style="width: 300px">
    </div>
  </div>

</div>
