@import 'public/components/bootstrap/less/bootstrap.less';

@import 'variables.less';

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  margin-bottom: 60px;
}
.navbar-fixed-top {
  .opacity(0.95);
  z-index: 1001;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @line-height-computed * 3;
  background-color: #f5f5f5;
  .container .text-muted {
    margin: @line-height-computed 0;
  }
}
